@tailwind base;
@tailwind components;
@tailwind utilities;

.border-1 {
    border-width: 1px;
}

.max-h-c92 {
    max-height: 92%;
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 85%);
    z-index: 9999;
}

@layer components {
    .oa-body {
        @apply bg-gray-200 font-sans h-full m-auto p-2 w-full;
    }

    .oa-file-container {
        @apply bg-gray-100 border border-gray-300 rounded;
    }

    .oa-title-bar {
        @apply bg-gray-300 p-1 pl-3 shadow-inner text-sm;
    }

    .oa-file-row {
        @apply p-1 px-2 flex justify-end;
    }

    .oa-divide {
        @apply divide-gray-500 divide-opacity-40 divide-y overflow-auto 
        scrollbar scrollbar-thumb-gray-500 scrollbar-track-gray-100
        scrollbar-thin pr-2 max-h-c92;
    }

    .oa-form {
        @apply border-gray-300 flex flex-row justify-between;
    }

    .oa-icon {
        @apply h-6 mr-1 text-yellow-400 w-6;
    }

    .input-text {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        border-color: #6b7280;
        border-width: 1px;
        border-radius: 0px;
        padding-top: 0.5rem;
        padding-right: 0.75rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        font-size: 1rem;
        line-height: 1.5rem;
        @apply border-gray-300 focus:border-indigo-300 capitalize
        focus:ring-indigo-200 focus:ring-opacity-50 mt-1 text-xl font-semibold
        rounded-md shadow-sm w-full bg-gray-100 focus:bg-gray-50;
    }

    .input-text:focus{
        outline: 2px solid transparent;
        outline-offset: 2px;
        --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: #2563eb;
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 
        calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 
        var(--tw-shadow, 0 0 #0000);
        border-color: #2563eb;
        @apply focus:border-indigo-300 focus:ring-indigo-200 
        focus:ring-opacity-50 focus:bg-gray-50;
    }

    .oa-submit {
        @apply ml-2 mt-1 px-6 py-1 text-lg tracking-widest 
        font-semibold uppercase;
    }

    .input-btn {
        @apply focus:outline-none focus:ring-green-400
        focus:ring-opacity-75 px-2 py-2
        rounded-md shadow-md text-white font-bold text-xl;
    }

    .d-border {
        @apply border border-dotted border-gray-400;
    }

    .oa-main-btn {
        @apply focus:outline-none text-white py-1 px-5 rounded-md
        hover:shadow-lg text-base block;
    }

    .oa-btn-xs {
        @apply text-xs py-0.5 px-2 rounded;
    }

    .oa-btn-indigo {
        @apply bg-indigo-500 hover:bg-indigo-600;
    }

    .oa-btn-green-grad {
        @apply bg-gradient-to-t from-green-600 via-green-500 to-green-400;

        @apply hover:bg-gradient-to-t hover:from-green-500 
        hover:via-green-600 hover:to-green-700;

        @apply focus:bg-gradient-to-t focus:from-green-500 
        focus:via-green-600 focus:to-green-700; 
    }

    .oa-btn-blue-grad {
        @apply bg-gradient-to-t from-blue-600 via-blue-500 to-blue-400;
        
        @apply hover:bg-gradient-to-t hover:from-blue-500 
        hover:via-blue-600 hover:to-blue-700;
        
        @apply focus:bg-gradient-to-t focus:from-blue-500 
        focus:via-blue-600 focus:to-blue-700;
    }

    .oa-btn-red {
        @apply bg-red-500 hover:bg-red-600;
    }

    .oa-btn-green {
        @apply bg-green-500 hover:bg-green-600;
    }

    .oa-radio-green {
        @apply text-green-500 focus:ring-0 focus:ring-offset-0 ring-0
    }

    .oa-link{
        @apply text-blue-800 hover:text-blue-700 focus:text-blue-900
        font-bold;
    }

    .text-box-message { 
        @apply border border-dotted border-gray-400 h-full p-2 text-justify
        font-semibold;
    }

    .oa-disabled {
        @apply disabled:opacity-50 disabled:cursor-not-allowed
    }
}
